<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<head>
    <title>Data Science Dashboard</title>
    <!--- Leaflet CSS --->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--- Our CSS --->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='css/style.css')}}">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>Data Science Jobs and Salaries</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Average Salary By Experience Level</h2>
                <div id="chart1" class="ExperienceLevel-bar"></div>
            </div>
            <div class="col-md-6">
                <h2>Average Yearly Salary by Country</h2>
                <div class="form group">
                    <div id="chart2" class="yearlysalary-line"></div>
                    <div class="row">
                        <div class="col-md-2"><h5> Select Country</h5></div> 
                        <div class="col-md-4">
                            <select class="form-control" id="country" onchange="optionChangedLine(this.value)">
                                {% for conCode in exp_job_data[2] %}
                                <option value="{{conCode}}">{{conCode}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Average Salary by Job Title</h2>
                <div class="form group">
                    <div id="chart3" class="jobtitle-bar"></div>
                    <div class="row">
                        <div class="col-md-3"><h5>Experience Level</h5></div> 
                        <div class="col-md-3">
                            <select class="form-control" id="experience" onchange="optionChangedBar(this.value)">
                                {% for expDict in exp_job_data[0] %}
                                    {% for expKey, expVal in expDict.items() %}
                                        <option value="{{expKey}}">{{expVal}}</option>
                                    {% endfor %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>        
            <div class="col-md-6">
                <h2>Top 10 Sectors for Data Science Jobs in the US</h2>
                <div id="chart4" style="width:100%;height:450px"></div>  <!-- style="width: 826px;height:450px;" -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Average Salary By Company Location in 2022</h2>
                <div class="form-group">
                    <h5>Experience Level</h5>
                    <select class="form-control" id="selExpLevel" onchange="optionChangedExp(this.value)">
                        {% for expDict in exp_job_data[0] %}
                        {% for expKey, expVal in expDict.items() %}
                        <option value="{{expKey}}">{{expVal}}</option>
                        {% endfor %}
                        {% endfor %}
                    </select>
                    <h5>Job Title</h5>
                    <select class="form-control" id="selJobTitle" onchange="optionChangedJob(this.value)">
                        {% for jobVal in exp_job_data[1] %}
                        <option value="{{jobVal}}">{{jobVal}}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- The div that holds our map -->
                <div id="map"></div>
                <!-- Leaflet JS -->
                <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
                    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
                    crossorigin="">
                    </script>
            </div>
        </div>
</body>
<footer></footer>
<!-- Bootstrap.js -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- D3 JavaScript -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<!-- Plotly JavaScript -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- eCharts JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>

<!-- Our JavaScript -->
<script type="text/javascript" src="{{url_for('static', filename='js/maplogic.js')}}"></script>
<script src="{{url_for('static', filename='js/sector_pie.js')}}"></script>
<script src="{{ url_for('static', filename='js/experience_level_logic.js') }}"></script>
<script src="{{url_for('static', filename='js/job_salary_bar.js')}}"></script>
<script src="{{url_for('static', filename='js/line_year_salary.js')}}"></script>