<!DOCTYPE html>
<html>
<head>
    <title>Data DataScience Dashboard</title>
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
        <!-- Leaflet CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />

        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='css/style.css')}}">
    
</head>
<body>

    <div class="container">
        <div class="grid-item">
            <h2>Average Salary By Experience Level</h2>
            <div id="chart1" class="ExperienceLevel-bar"></div>
        </div>
        <div class="grid-item">
            <h2>Average Salary By Year</h2>
            <select id="selCountry" onchange="optionChanged(this.value)"></select>
            
            <div id="chart2" class="AvGSalaryline"></div>
        </div>
        <div class="grid-item">
            <h2>Average Salary by Job Title</h2>
            <div id="chart3" class="jobtitle-bar"></div>
        </div>
        <div class="grid-item">
            <h2>Count by Sector</h2>
            <div id="chart4" class="sector-bar"></div>
            <!-- BR: The div that holds the sector plot -->
            <div id="plot"></div> 
        </div>
        <div class="grid-item">
            <h2>Company Location</h2>
            <div class="well"> 
                <h5>Experience Level</h5>
                <select class="form-control" id="selExpLevel" onchange="optionChangedExp(this.value)">
                    {% for expDict in exp_job_data[0] %}
                        {% for expKey, expVal in expDict.items() %}
                            <option value="{{expKey}}">{{expVal}}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
                <h5>Job Title</h5>
                <select class="form-control" id="selJobTitle" onchange="optionChangedJob(this.value)">
                    {% for jobVal in exp_job_data[1] %}
                        <option value="{{jobVal}}">{{jobVal}}</option>
                    {% endfor %}
                </select>    
            </div>
        <!-- The div that holds our map -->
        <div id="map"></div>



        <!-- Leaflet JS -->
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin="">
        </script>   
        </div>
    </div>
    
    
</body>

<!-- Masonry JavaScript -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<!-- initialize Masonry layout - this should arrange each chart based on the available space on the grid -->
<script>
    var container = document.querySelector('.container');
    var msnry = new Masonry(container, {
        itemSelector: '.grid-item',
        gutter: 10,
       //percentPosition: true
        percentPosition: true
    });
</script>



<!-- D3 JavaScript -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<!-- Plotly JavaScript -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- Our JavaScript -->
<script type="text/javascript" src="{{url_for('static', filename='js/logic.js')}}"></script>
<script src="{{url_for('static', filename='js/sector.js')}}"></script>
<script src="{{ url_for('static', filename='js/experience_level_logic.js') }}"></script>