body {
    padding: 0;
    margin: 0;
  }
  
  #map
  {
    width: 100%;
    height: 500px; /* Adjust the height as needed */
  }
/*
main {
      position: fixed;
      top: 0;
      width:100%;
      height: 100%;
      overflow: scroll;
}
*/

 * { box-sizing: border-box; margin:1rem;}

  body { font-family: sans-serif; }
  footer { height: 100px;}
  
  .jumbotron {
    background-color: rgba(108, 5, 131, 0.984);
    color: white;
  }
  /* ---- grid ---- */
  
  /*
  .container {
    background: #c2d2f3;
    position: relative;
    width: 75%;
    display: flex;
    gap: 10px;
  }
  
  /* clearfix 
  .container:after {
    content: '';
    display: block;
    clear: both;
  }
  */
  
  /* ---- grid-item
  
  .grid-item {
    width: 600px;
    height: 120px;
    float: left;
    background: rgba(187, 146, 241, 0.89);
    border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .grid-item--width2 { width: 320px; }
  .grid-item--width3 { width: 480px; }
  .grid-item--width4 { width: 640px; }
  
  .grid-item--height2 { height: 200px; }
  .grid-item--height3 { height: 260px; }
  .grid-item--height4 { height: 360px; }
  
  .post {
    break-inside: avoid;
  }
*/







  
  .info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  }
  .legend {
  background-color: black;
  line-height: 19px;
  color: #555;
  width: auto;
  }
  .legend i {
  width: 18px;
  height: 19px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
  }
  
  #bar-chart {
    width: 600px;
    height: 400px;
    margin: 0 auto;
  }